<footer class="site-footer">
  
  <div class="wrapper">
  <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% endif %}
          </li>
          <li>
            <font size="3">{{ site.title }}</font>
          </li>
          <li>
            <p><font size="2.5">PhD Candidate<br> 
              <a target="_blank" rel="noopener noreferrer" href="https://economics.illinois.edu/" style="color:rgb(130,130,130)">Department of Economics</a><br> 
              <a target="_blank" rel="noopener noreferrer" href="https://illinois.edu/" style="color:rgb(130,130,130)">University of Illinois</a><br></font></p>
          </li>
        </ul>
      </div>
      
      <div class="footer-col footer-col-2">
        <ul class="contact-list">
            <font size="3">Contact Information</font> <br >
           <li>
              <font size="2.5"><a href="mailto:{{ site.email }}" style="color:rgb(130,130,130)" ><i class="fa fa-envelope" ></i> {{ site.email }}</a></font> 
           </li>
          <li>
            <p><font size="2.5"><i class="fa fa-map-marker"></i> 214 David Kinley Hall <br>
              1407 W Gregory Drive <br>
              Urbana, IL 61801, United States</font></p>
          </li>
        </ul>
      </div>
      
     
    </div>

  </div>

</footer>

